<StackLayout class="page">
    <StackLayout class="form">
        <StackLayout class="input-field">
            <Label text="Email" textWrap="true" class="label font-weight-bold m-b-5"></Label>
            <TextField
                hint="Digite seu email" class="input" keyboardType="email" autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
            <Label text="Senha" textWrap="true" class="label font-weight-bold m-b-5"></Label>
            <TextField
                hint="Digite sua senha" class="input" autocapitalizationType="none"
                autocorrect="false" secure="true"
            ></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Button text="Login" class="btn btn-primary" tap=""></Button>
        <Button text="Criar conta" class="btn btn-primary" tap=""></Button>
    </StackLayout>
</StackLayout>
