<ActionBar title="" class="action-bar">
    <StackLayout class="action-bar-title">
        <Label text="Aplicativo NativeScript" class="font-weight-bold text-center" color="blue" textWrap="true"></Label>
    </StackLayout>
</ActionBar>

<ScrollView orientation="vertical" class="page">
        <StackLayout>
            <Label text="Label h1" class="h1"></Label>
            <Label text="Label h2" class="h2"></Label>
            <Label text="Label h3" class="h3"></Label>
            <Label text="Label h4" class="h4"></Label>
            <Label text="Label h5" class="h5"></Label>
            <Label text="Label h6" class="h6"></Label>

            <StackLayout class="hr-light"></StackLayout>

            <Label class="body" text="{{ textBody }}" textWrap="true"></Label>

            <StackLayout class="hr-light"></StackLayout>

            <Image class="m-30" src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png" width="150">
            </Image>
            <Label class="footnote text-center" text="The image above is the NativeScript logo"></Label>

            <StackLayout class="hr-light"></StackLayout>

            <Label class="font-weight-normal text-primary" text="Um texto em peso normal" textWrap="true"></Label>
            <Label class="font-weight-bold text-muted" text="Um texto em peso bold" textWrap="true"></Label>
            <Label class="font-italic text-danger" text="Um texto em italic" textWrap="true"></Label>

            <Label class="font-italic m-5 p-l-20" text="Um texto em italic com margin 5 e paddin left de 20"
                textWrap="true"></Label>

            <StackLayout class="hr-dark"></StackLayout>

            <Label class="pull-left font-weight-bold" text="Um texto a esquerda" textWrap="true"></Label>
            <Label class="pull-right font-weight-normal" text="Um texto a direita" textWrap="true"></Label>

            <StackLayout class="hr-dark"></StackLayout>

            <StackLayout class="bg-primary">
                <Label text="I want to draw your attention here."></Label>
            </StackLayout>
            <StackLayout class="bg-danger">
                <Label text="A critical error has occurred!"></Label>
            </StackLayout>

            <StackLayout class="hr-dark"></StackLayout>

        </StackLayout>
    </ScrollView>