<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!--
    <page-router-outlet></page-router-outlet>
-->
<!-- fundamentos-interface- -->

<AbsoluteLayout>
    <Label text="10, 10" left="10" top="10" width="90" height="90" backgroundColor="red"></Label>
    <Label text="110, 10" left="110" top="10" width="90" height="90" backgroundColor="green"></Label>
    <Label text="110, 110" left="110" top="110" width="90" height="90" backgroundColor="blue"></Label>
    <Label text="10, 110" left="10" top="110" width="90" height="90" backgroundColor="yellow"></Label>
</AbsoluteLayout>

<!--
<AbsoluteLayout>
    <Button text="botao 1" top="50" backgroundColor="red" tap=""></Button>
    <Button text="botao 2" top="150" backgroundColor="purple" tap="" margin="100"></Button>
    <Button text="botao 3" top="250" backgroundColor="blue" tap="" padding="100"></Button>
</AbsoluteLayout>
-->