<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!--
    <page-router-outlet></page-router-outlet>
-->
<!-- fundamentos-interface- -->

<StackLayout orientation="vertical" backgroundColor="lightgray" width="auto">
    <Label text="nome" horizontalAlignment="left"></Label>
    <TextField hint="digite seu nome" text="" horizontalAlignment="left"></TextField>
    <Label text="sobrenome" horizontalAlignment="right"></Label>
    <TextField hint="digite seu sobrenome" text="" horizontalAlignment="right"></TextField>
    <Label text="senha"></Label>
    <TextField hint="digite sua senha" text=""></TextField>
    <Button text="entrar" tap=""></Button>
</StackLayout>

<!--
<StackLayout orientation="horizontal" backgroundColor="lightgray">
    <Label text="Label 1" verticalAlignment="stretch" backgroundColor="yellow"></Label>
    <Label text="Label 2" verticalAlignment="top" backgroundColor="red"></Label>
    <Label text="Label 3" verticalAlignment="middle" backgroundColor="green"></Label>
    <Label text="Label 4" verticalAlignment="bottom" backgroundColor="blue"></Label>
</StackLayout>

<StackLayout orientation="vertical" backgroundColor="lightgray">
    <Label text="Label 1" horizontalAlignment="left" width="50" height="50" backgroundColor="red"></Label>
    <Label text="Label 2" horizontalAlignment="center" width="50" height="50" backgroundColor="green"></Label>
    <Label text="Label 3" horizontalAlignment="right" width="50" height="50" backgroundColor="blue"></Label>
    <Label text="Label 4" horizontalAlignment="stretch" height="50" backgroundColor="yellow"></Label>
</StackLayout>
-->
