<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!--
    <page-router-outlet></page-router-outlet>
-->
<!-- fundamentos-interface- -->

<DockLayout width="210" height="210" backgroundColor="lightgray" stretchLastChild="true">
    <Label text="left1" dock="left" backgroundColor="red"></Label>
    <Label text="left2" dock="left" backgroundColor="green"></Label>
    <Label text="left3" dock="left" backgroundColor="blue"></Label>
    <Label text="last child" backgroundColor="yellow"></Label>
</DockLayout>

<!--
    <DockLayout backgroundColor="lightgray" stretchLastChild="true">
        <Label text="left" dock="left" width="60" backgroundColor="red"></Label>
        <Label text="top" dock="top" height="60" backgroundColor="green"></Label>
        <Label text="right" dock="right" width="60" backgroundColor="blue"></Label>
        <Label text="bottom" dock="bottom" height="100" backgroundColor="yellow"></Label>
    </DockLayout>
-->
